<div class="container">
    <div class="section">
        <div class="hero">
            <h1>Signup</h1>
        </div>
        <form class="section">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="email@email.com">
                </div>
            </div>            
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="chiefbeef311">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="********">
                </div>
            </div>
            <div class="field">
                <p>Already a Member? <a href="/login">Login</a> to continue.</p>
            </div>
        </form>
    </div>
</div>